:root{
    --main-color:aqua;
    --respuesta-texto: black;
    --pregunta-texto:blue;
 
}





nav{
    color: aquamarine;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    
    text-align: justify;
    list-style: none;
  }

.menu{
    color: #2b6ee2;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.calles__e{
    color:var(--pregunta-texto);
    font-size: x-large;
    font-style: italic;
}
.calles__respuesta{
color:var(--respuesta-texto);
font-size: 14px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
}
.objetivos__prioridades{
    color:var(--pregunta-texto);
    font-style: italic;
}
.objetivos__res{
    color:var(--respuesta-texto);
    font-size: 14px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
}
.preguntasflecuentes{
    color: var(--pregunta-texto);
    font-style: italic;
}
.preguntasflecuentes__res{
    color: var(--respuesta-texto);
    font-size: 14px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
}
.card{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none;
   

}
.card__imagen{
    width: 80%;
    padding: 15px;
    border-radius: 10%
 
}
.muerte{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none; 
}
.muerte__inf{
    width: 70%;
    padding: 15px;
    border-radius: 10%    
}
.nexo{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none

}
.nexo__imagen{
    width: 50%;
    padding: 15px;
    border-radius: 10%
       
}
.carriles{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none
}
.carriles__img{
    width: 60%;
    padding: 15px;
    border-radius: 10%  
}
.dragon{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none
}
.dragon__img{
    width: 60%;
    padding: 15px;
    border-radius: 10%   
}
.baron{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none
}
.baron__img{
    width: 60%;
    padding: 15px;
    border-radius: 10% 
}
.heraldo{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none
}
.heraldo__im{
    width: 60%;
    padding: 15px;
    border-radius: 10% 
}







#header{
    background-image: url("./img/nexo.pngp");
    background-repeat: no-repeat;
    background:linear-gradient(50deg,blue,red);
    background-size: 90%;
    background-clip:border-box;
}
.heraldo__im {
    border: 0.8em rgb(48, 18, 184);
    border-style: dotted double;
    margin: 1em 0;
    padding: 1.4em;
    background: linear-gradient(60deg, rgb(8, 8, 8), rgb(242, 242, 242), rgb(14, 13, 13), rgb(242, 242, 234), rgb(30, 0, 255));
    font: 900 1.2em sans-serif;
    text-decoration: underline;
  }
  
  .border-box {
    background-clip: border-box;
  }
  .padding-box {
    background-clip: padding-box;
  }
  .content-box {
    background-clip: content-box;
  }
























.boton-div{
    width:200px;
    height: 200px;
    padding:15px;
    border:5px solid rgb(230, 117, 19);
    margin:10px;
}
.boton-div__texto:hover{
background-color: aqua;

}
.boton-div__texto:active{
    background-color: blue;
    
}

.boton-div__enviar{
    font-size: 14px;
    color: blue;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


























*{
    margin: 10;
    padding: 10;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;


}


.gmail:first-child{
    color: blue;
  }

.p:nth-child(8){
    color: blue;
}  

.calles__respuesta::first-letter{
    font-size: 2.5rem;
    color:var(--respuesta-texto)
    
}
.calles__respuesta::first-line{
    font-weight: 500;
}














 @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
      }
    }
    .respuesta{
        animation-name: slidein;
        animation-duration: 3s;
    }







    
    
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    




}    
dt {
    background: #b8c1c8;
    border-bottom: 1px solid #989ea4;
    border-top: 1px solid #717d85;
    color: #fff;
    font:
      bold 18px/21px Helvetica,
      Arial,
      sans-serif;
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px
}
  







/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
    
  }
  
  /*Agregamos margenes inferiores a los parrafos*/
  p {
    margin-bottom: 20px;
  }
  .prueba {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
  }
  .contenido {
    padding-top: 80px;
  }
  
  nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: #2539aa;
  }
  .wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }

    
 
  

    
